.row-new{
    display: flex;
    flex-direction: column;
}

.row-new_scroll{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* overflow-x: auto; */
}